@model IEnumerable<CareerCloud.Pocos.CompanyDescriptionPoco>

@{
    ViewBag.Title = "Companies List";
}

<h2>Companies List</h2>

<p>
    @Html.ActionLink("Add a Company", "Create", "CompanyProfile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemLanguageCode.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemLanguageCode.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Jobs", "ViewJobs", new { company = item.Company})
        </td>
    </tr>
}

</table>
